<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>Print widget - 4.8</title>
    <link rel="stylesheet" href="https://js.arcgis.com/4.8/esri/css/main.css">

    <style>
        html,
        body,
        #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    </style>

    <script src="https://js.arcgis.com/4.8/"></script>
    <script>
        require([
            "esri/views/MapView",
            "esri/widgets/Print",
            "esri/WebMap",
            "esri/Graphic",
            "esri/geometry/Point",
            "esri/widgets/Search",
            "esri/widgets/CoordinateConversion",
            "esri/Map",

            "dojo/domReady!"
        ],
            function (
                MapView, Print, WebMap, Graphic, Point, Search, CoordinateConversion, map
            ) {

                var webmap = new WebMap({
                    basemap: "satellite",
                    ground: "world-elevation"

                });

                var view = new MapView({
                    container: "viewDiv",
                    map: webmap
                });

                view.when(function () {
                    var print = new Print({
                        view: view,
                        // specify your own print service
                        printServiceUrl: "https://utility.arcgisonline.com/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task"
                    });

                    // Add widget to the top right corner of the view
                    view.ui.add(print, "top-left");
                });



                var ccWidget = new CoordinateConversion({
                    view: view
                });

                view.ui.add(ccWidget, "bottom-left");











                /*************************
                 * Create a point graphic
                 *************************/

                // First create a point geometry (this is the location of the Titanic)
                var point = {
                    type: "point", // autocasts as new Point()
                    longitude: -49.97,
                    latitude: 41.73
                };

                // Create a symbol for drawing the point
                var markerSymbol = {
                    type: "simple-marker", // autocasts as new SimpleMarkerSymbol()
                    color: [226, 119, 40],
                    outline: { // autocasts as new SimpleLineSymbol()
                        color: [255, 255, 255],
                        width: 2
                    }
                };

                // Create a graphic and add the geometry and symbol to it
                var pointGraphic = new Graphic({
                    geometry: point,
                    symbol: markerSymbol
                });

                /****************************
                 * Create a polyline graphic
                 ****************************/

                // First create a line geometry (this is the Keystone pipeline)
                var polyline = {
                    type: "polyline", // autocasts as new Polyline()
                    paths: [
                        [-111.30, 52.68],
                        [-98, 49.5],
                        [-93.94, 29.89]
                    ]
                };

                // Create a symbol for drawing the line
                var lineSymbol = {
                    type: "simple-line", // autocasts as SimpleLineSymbol()
                    color: [226, 119, 40],
                    width: 4
                };

                // Create an object for storing attributes related to the line
                var lineAtt = {
                    Name: "Keystone Pipeline",
                    Owner: "TransCanada",
                    Length: "3,456 km"
                };

                /*******************************************
                 * Create a new graphic and add the geometry,
                 * symbol, and attributes to it. You may also
                 * add a simple PopupTemplate to the graphic.
                 * This allows users to view the graphic's
                 * attributes when it is clicked.
                 ******************************************/
                var polylineGraphic = new Graphic({
                    geometry: polyline,
                    symbol: lineSymbol,
                    attributes: lineAtt,
                    popupTemplate: { // autocasts as new PopupTemplate()
                        title: "{Name}",
                        content: [{
                            type: "fields",
                            fieldInfos: [{
                                fieldName: "Name"
                            }, {
                                fieldName: "Owner"
                            }, {
                                fieldName: "Length"
                            }]
                        }]
                    }
                });

                /***************************
                 * Create a polygon graphic
                 ***************************/

                // Create a polygon geometry
                var polygon = {
                    type: "polygon", // autocasts as new Polygon()
                    rings: [
                        [-64.78, 32.3],
                        [-66.07, 18.45],
                        [-80.21, 25.78],
                        [-64.78, 32.3]
                    ]
                };

                // Create a symbol for rendering the graphic
                var fillSymbol = {
                    type: "simple-fill", // autocasts as new SimpleFillSymbol()
                    color: [227, 139, 79, 0.8],
                    outline: { // autocasts as new SimpleLineSymbol()
                        color: [255, 255, 255],
                        width: 1
                    }
                };

                // Add the geometry and symbol to a new graphic
                var polygonGraphic = new Graphic({
                    geometry: polygon,
                    symbol: fillSymbol
                });

                // Add the graphics to the view's graphics layer
                view.graphics.addMany([pointGraphic, polylineGraphic, polygonGraphic]);





                /**********************
                * Create a Text point graphic
                **********************/

                // First create a point geometry
                var point = new Point({
                    longitude: -49.97,
                    latitude: 41.73

                });

                // Create a symbol for drawing the point
                var textSymbol = {
                    type: "text", // autocasts as new TextSymbol()
                    color: "#7A003C",
                    text: "mapsssss", // esri-icon-map-pin
                    font: { // autocasts as new Font()
                        size: 30,
                        family: "CalciteWebCoreIcons"
                    }
                };

                // Create a graphic and add the geometry and symbol to it
                var pointGraphic = new Graphic({
                    geometry: point,
                    symbol: textSymbol
                });

                // Add the graphics to the view's graphics layer
                view.graphics.add(pointGraphic);










                /**********************
                      * Create a Text Line graphic
                      **********************/

                // First create a point geometry
                var LineText = new Point({
                    longitude: -60.97,
                    latitude: 51.73

                });

                // Create a symbol for drawing the point
                var textSymbol = {
                    type: "text", // autocasts as new TextSymbol()
                    color: "#7A003C",
                    text: "ahmedmap", // esri-icon-map-pin
                    font: { // autocasts as new Font()
                        size: 30,
                        family: "CalciteWebCoreIcons"
                    }
                };

                // Create a graphic and add the geometry and symbol to it
                var LineGraphic = new Graphic({
                    geometry: LineText,
                    symbol: textSymbol
                });

                // Add the graphics to the view's graphics layer
                view.graphics.add(LineGraphic);



                var searchWidget = new Search({
                    view: view,
                    allPlaceholder: "District or Senator",
                    sources: [{
                        featureLayer: {
                            url: "https://services.arcgis.com/V6ZHFr6zdgNZuVG0/arcgis/rest/services/CongressionalDistricts/FeatureServer/0",
                            popupTemplate: { // autocasts as new PopupTemplate()
                                title: "Congressional District {DISTRICTID} </br>{NAME}, {PARTY}",
                                overwriteActions: true
                            }
                        },
                        searchFields: ["DISTRICTID"],
                        displayField: "DISTRICTID",
                        exactMatch: false,
                        outFields: ["DISTRICTID", "NAME", "PARTY"],
                        name: "Congressional Districts",
                        placeholder: "example: 3708",
                    }, {
                        featureLayer: {
                            url: "https://services.arcgis.com/V6ZHFr6zdgNZuVG0/arcgis/rest/services/US_Senators/FeatureServer/0",
                            popupTemplate: { // autocasts as new PopupTemplate()
                                title: "<a href={Web_Page} target='_blank'> {Name}</a>, ({Party}-{State}) ",
                                overwriteActions: true
                            }
                        },
                        searchFields: ["Name", "Party"],
                        suggestionTemplate: "{Name}, Party: {Party}",
                        exactMatch: false,
                        outFields: ["*"],
                        placeholder: "example: Casey",
                        name: "Senators",
                        zoomScale: 500000,
                        resultSymbol: {
                            type: "picture-marker", // autocasts as new PictureMarkerSymbol()
                            url: "images/senate.png",
                            height: 36,
                            width: 36
                        }
                    }]
                });

                // Add the search widget to the top left corner of the view
                view.ui.add(searchWidget, {
                    position: "top-right"
                });






            });
    </script>
</head>

<body class="calcite">
    <div id="viewDiv"></div>
</body>
</html>