@font-face {
    font-family: myfont;
    src: url('font/GE_SS_Two_Bold.otf')
}

@font-face {
    font-family: myfont2;
    src: url('font/DroidKufi-Regular.ttf')
}

.Style {
    font-family: myfont2;
    margin-top:100px
}
